<div class="user_form">

  <h1>ユーザー編集</h1>
  
  <div class="container-fluid">
    <div class="row form">
      <%= render "form", user: @user %>
    </div>
  </div>

  <div class="back_btn">
    <%= link_to "戻る", users_path, class: "btn btn-light" %>
  </div>

</div>


