<div class="admin_form">
  <h1>プロジェクト登録</h1>
  <div class="w-25 mt-5">
    <%= render "form", user: @user, project: @project %>
    <div class="w-100 d-flex justify-content-end mt-2">
      <%= link_to "戻る", admin_users_path %>
    </div>
  </div>
</div>