// Place all the styles related to the admin::project_mission_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin_project_mission_task_new {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.admin_project_mission_task_new nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  border-right: 2px solid black;
}

.admin_project_mission_task_new nav .nav_1 {
  width: 100%;
  height: 85%;
  padding-top: 50px;
}

.admin_project_mission_task_new nav .nav_2 {
  width: 100%;
  height: 15%;
}

.admin_project_mission_task_new nav a {
  text-decoration: none;
  color: black;
}

.admin_project_mission_task_new nav .nav_button {
  width: 100%;
  height: 45px;
  text-align: start;
  padding: 0;
  padding-left: 15px;
}

.admin_project_mission_task_new nav .nav_button:hover {
  width: 100%;
  height: 45px;
  text-align: start;
  padding: 0;
  padding-left: 15px;
  background-color: gray;
}

.admin_project_mission_task_new nav img {
  height: 22px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.admin_project_mission_task_new nav .nav_2 .nav_2_border {
  width: 70%;
  margin-left: 15%;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}


.admin_project_mission_task_new .space {
  width: 15%;
  height: 100vh;
}


.admin_project_mission_task_new main {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}


.admin_project_mission_task_new main .main_frame {
  width: 80%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin_project_mission_task_new main .main_frame .square_line {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin_project_mission_task_new main .main_frame .square_line .task_square {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.admin_project_mission_task_new main .main_frame .square_line .task_square .task_check_box {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.admin_project_mission_task_new main .main_frame .btn {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
}

