// Place all the styles related to the project_missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.project_mission_show {
  width: 100vw;
  min-height: 100vh;
}

.project_mission_show .project_mission_show_h {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.project_mission_show .main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project_mission_show .main .square_line {
  width: 75%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
}

.project_mission_show .main .square_line .task_square_opne {
  width: 130px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  background-color: white;
}

.project_mission_show .main .square_line .task_square_close {
  width: 130px;
  height: 200px;
  border: 1px solid gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  background-color: white;
  color: gray;
}

.project_mission_show .main .square_line .only_line {
  width: 100%;
  position: absolute;
  top: 50%;
  border-bottom: 2px solid black;
  z-index: -1;
}



@media screen and (max-width: 768px) {
  .project_mission_show .project_mission_show_h {
    display: none;
  }
  .project_mission_show .main .square_line {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 60px;
  }
  .project_mission_show .main .square_line .task_square_opne {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    background-color: white;
    margin-bottom: 70px;
  }
  .project_mission_show .main .square_line .task_square_close {
    width: 200px;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    background-color: white;
    color: gray;
    margin-bottom: 70px;
  }
  .project_mission_show .main .square_line .only_line {
    height: calc(100% - 70px);
    position: absolute;
    top: 0%;
    right: 50%;
    border-right: 2px solid black;
    border-bottom: none;
    z-index: -1;
  }
}



