// Place all the styles related to the project_missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.project_mission_show {
  width: 100vw;
  min-height: 100vh;
}

.project_mission_show .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.project_mission_show .main .project_mission_show_main_h {
  width: 75%;
  display: flex;
  justify-content: center;
}

.project_mission_show .main .square_frame {
  width: 75%;
  position: relative;
  overflow: hidden;
}

.project_mission_show .main .square_frame .only_line {
  position: absolute;
  width: 300%;
  top: 155px;
  left: 0;
  border-bottom: 2px solid black;
  z-index: -1;
}

.project_mission_show .main .square_frame .square_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  overflow: scroll;
}


.project_mission_show .main .square_frame .square_line .task_square {
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  padding: 10px;
  margin-right: 20px;
}

.project_mission_show .main .square_frame .square_line .task_square:last-child {
  margin-right: 0px;
}

.task_square h5 {
  margin: 0;
}

.project_mission_show .main .square_line .task_square .task_square_role {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.project_mission_show .main .square_line .task_square_opne {
  border: 2px solid black;
}

.project_mission_show .main .square_line .task_square_close {
  border: 1px solid gray;
  color: gray;
}

.project_mission_show .main .square_line button {
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 6px;
}

.project_mission_show .main .square_line button:hover {
  background-color: gray;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 6px;
}



@media screen and (max-width: 768px) {

  .project_mission_show .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .project_mission_show .main .project_mission_show_main_h {
    width: 75%;
    display: flex;
    justify-content: start;
  }

  .project_mission_show .main .square_frame {
    width: 230px;
    position: relative;
    overflow: hidden;
  }

  .project_mission_show .main .square_frame .only_line {
    position: absolute;
    width: 0;
    height: calc(100% - 70px);
    top: 20px;
    left: 50%;
    border-bottom: none;
    border-right: 2px solid black;
    z-index: -1;
  }
  
  .project_mission_show .main .square_frame .square_line {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: none;
  }

  .project_mission_show .main .square_frame .square_line .task_square {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background-color: white;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    padding: 10px;
    margin-right: 0px;
  }

  .project_mission_show .main .square_frame .square_line .task_square .task_square_role {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}



